@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: #fafafa;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white; /* Optional: to make sure it's visible on top of other content */
  z-index: 999; /* Optional: to ensure it's above other elements */
  border-bottom: none; /* default no border */
  transition: border-bottom 0.3s; /* smooth transition */
}

.account,
.account img {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account h1 {
  font-size: 20px;
  margin-left: 20px;
}

.new-message img {
  margin-right: 10px;
  height: 40px;
}

/* search */
/* search */
.search {
  margin: 20px; /* Mengurangi margin di samping */
  position: relative;
  /* display: inline-block;
     width: 100%;
     height: auto; */
}

#searchInput {
  padding-left: 35px; /* Ditingkatkan sedikit untuk memberikan ruang yang lebih besar untuk gambar */
  background-image: url("icon/left-arrow.png");
  background-size: 20px; /* Sesuaikan ukuran gambar */
  background-repeat: no-repeat;
  background-position: 5px center; /* Penempatan gambar */
  border: 1px solid #ffffff; /* Ganti sesuai kebutuhan */
  background-color: rgb(246, 246, 246);
  border-radius: 5px; /* Ganti sesuai kebutuhan */
  height: 40px; /* Sesuaikan sesuai kebutuhan */
  box-sizing: border-box; /* Menyesuaikan padding dengan lebar total */
}

/* satatus */
.status {
  height: 160px;
  display: flex; /* Membuat elemen-elemen berjejer ke samping */
  overflow-x: auto; /* Membuat scroll horizontal jika lebih dari halaman */
  white-space: nowrap; /* Mencegah pemisahan baris */
  margin: 10px;
  padding: 10px;
}

.titik-1 {
  margin-top: -73px;
  margin-bottom: 75px;
  height: 4px;
  width: 4px;
  margin-left: 24px;
  border-radius: 50%;
  background-color: white;
  position: relative; /* Menjadikan posisi relatif agar z-index berfungsi */
  z-index: 1; /* Menetapkan z-index tinggi */
}

.titik-2 {
  margin-top: -82px;
  margin-bottom: 75px;
  height: 10px;
  width: 13px;
  margin-left: 15px;
  border-radius: 50%;
  background-color: white;
  position: relative; /* Menjadikan posisi relatif agar z-index berfungsi */
  z-index: 1; /* Menetapkan z-index tinggi */
}

.catatan {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 3px;
  padding: 2px;
  margin-top: -100px;
  margin-bottom: 75px;
  height: 20px;
  width: auto;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  position: relative; /* Menjadikan posisi relatif agar z-index berfungsi */
  z-index: 1; /* Menetapkan z-index tinggi */
}

.status-1 > .catatan > p {
  font-size: 10px;
  font-weight: 500;
  text-align: center;
}

.status-1 {
  text-align: center;
  margin-right: 40px; /* Margin antara elemen */
}

.status-1 img {
  margin-top: 20px;
  height: 80px;
  border-radius: 50%;
}

.status-1 p {
  font-size: 13px;
}

/* pesan/[permintaan */
.pilihan-pesan {
  font-size: 13px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
}

#pesan-permintaan {
  font-weight: bold;
}

#permintaan-pesan {
  font-size: 13px;
  font-weight: bold;
  color: #0ea5e9;
}

/* pesan */
.pesan {
  margin: 15px;
}

.pesan-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.profil img {
  height: 60px;
  width: auto;
  border-radius: 50%;
}

.camera img {
  height: 25px;
  width: auto;
  opacity: 70%;
}

.profil {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.keterangan {
  margin-left: 15px;
}

.keterangan p {
  margin: 0;
}

.keterangan #username {
  font-size: 13px;
  font-weight: 500;
}

.keterangan #dilihat {
  font-size: 11px;
  color: #475569;
}

/* title followers */
.title-followers {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
}

#left {
  font-weight: bold;
}

#right {
  font-size: 13px;
  font-weight: bold;
  color: #0ea5e9;
}

/* followers */
.followers {
  margin: 15px;
}

.users-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.profil-followers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profil-followers img {
  height: 60px;
  width: auto;
  border-radius: 50%;
}

.name-followers {
  margin-left: 15px;
}

.name-followers p {
  margin: 0;
}

.name-followers #name {
  font-size: 13px;
  font-weight: 500;
}

.name-followers #panggilan {
  font-size: 11px;
  color: #475569;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action button {
  border: none;
  background-color: #0ea5e9;
  padding: 5px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 5px;
}

.action img {
  height: 20px;
  width: auto;
  opacity: 70%;
}
